#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-grow: 1;
  width: 90vw;
  height: 100%;
}

.sidebar {
  padding-top: 1em;
  width: 20vw; 
  background-color: #333333;
  border-radius: 0.5em;
}

.sidebar .links {
  padding: 0.5em;
}

.sidebar .links a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
}

.sidebar .links a:hover {
  background-color: #555;
  border-radius: 0.25em;
  border: 1px solid white;
}

.content {
  padding-left: 1.25em; /* Example padding in em units */
  margin: 0 auto;
  justify-content: center; /* Align items horizontally to center */
  width: 70vw;
  background-color: rgba(0, 0, 0, 0.8);
}

.form {
  padding: 1em;
  border-radius: 0.5em;
}

label {
  font-weight: bold;
}

.imposter {
  font-weight: normal;
}

input[type="text"],
input[type="number"],
select {
  margin-left: 0.5em;
  padding: 0.5em;
  margin-bottom: 1em;
  border: 1px solid #ccc;
  border-radius: 0.25em;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

input[type="radio"] {
  margin-right: 5px;
}

.crewmateCard {
  border: 1px solid white;
  border-radius: 0.5em;
  display: inline-block;
  min-width: 25em;
  min-height: 25em;
  padding-bottom: 1em;
  margin: 1em;
}

.crewmateImage {
  height: 10em;
  width: 10em;
}

.button-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.crewmateDetail {
  border: 1px solid white;
  padding-bottom: 3em;
  border-radius: 0.25em;
}

.button-detail {
  color: #fff;
  background-color: #800080; /* Purple color */
  border-color: #6a006a; /* Darker shade of purple for border */
}

.button-submit {
  color: #fff;
  background-color: #28a745; /* Green color */
  border-color: #218838; /* Slightly darker shade of green for border */
}

.gallery {
  display: inline;
  width: 100vw;
}