#root {
  max-width: 100%;
  padding: 2rem;
  text-align: center;
}

.navigation {
  display: flex;
  flex-grow: 1;
  width: 90vw;
  height: 100%;
}

.sidebar {
  padding-top: 1em;
  width: 20vw; 
  background-color: rgb(58,60,70);
}

.sidebar .links {
  padding: 0.5em;
}

.sidebar .links a {
  color: #fff;
  text-decoration: none;
  display: block;
  font-size: 1.25em;
}

.sidebar .links a:hover {
  background-color: #555;
}

.content {
  padding-left: 1.25em; /* Example padding in em units */
  margin: 0 auto;
  justify-content: center; /* Align items horizontally to center */
  width: 70vw;
}

.form {
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(255, 255, 255, 0.1);
}

label {
  font-weight: bold;
}

.imposter {
  font-weight: normal;
}

input[type="text"],
input[type="number"],
select {
  margin-left: 1em;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  font-family: inherit;
  font-size: inherit;
}

input[type="radio"] {
  margin-right: 5px;
}

.crewmateCard {
  border: 1px solid white;
  display: inline-block;
  min-width: 100%;
  min-height: 100%;
  background-color: black;
  padding-bottom: 0.5em;
}

.crewmateImage {
  height: 10em;
  width: 10em;
}

.button-danger {
  color: #fff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.button-info {
  color: #fff;
  background-color: #17a2b8;
  border-color: #17a2b8;
}

.crewmateDetail {
  border: 1px solid white;
  padding-bottom: 3em;
}